.content-img {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.text{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 32px;
  color: white;
}

@media screen and (max-width: 450px) {
  .img {
    width: 257px;
    height: 162px;
  }
  .text {
    font-size: 20px;
  }
}