.form-label {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.form-input {
    width: 275px;
    height: 52px;
    border-radius: 8px;

    margin-bottom: 20px;
}

.form-button {
    width: 150px;
    height: 33px;
    background-color: #132A3A;
    color: #FFFFFF;
    border-radius: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-label, .form-input, .form-button {
    margin-bottom: 10px;
  }
  