.card {
    width: 96px;
    height: 120px;
    background: #7EC6EC;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }

.title {
    font-size: 12px;
}