.content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.collapsed-button{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
}

.content.active {
    margin-left: 250px;
}
